<section
  id="hero"
  class="h-screen flex items-center justify-center bg-gray-900 text-white"
>
  <div class="text-center">
    <h1 class="text-5xl font-bold mb-4">¡Hello! i'm Emiliano Merelez</h1>
    <h2 class="text-2xl animate-pulse">
      Frontend developer passionate about creating unique experiences.
    </h2>
  </div>
</section>
